*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(8, 8, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    max-width: 50%;
    background-color: rgb(180, 167, 255);
    border-radius: 15px;
    padding: 1rem;
}

#card-container{
    min-height:10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#img-container{
    display: flex;
    justify-content: center;
    margin: 0;
    height: auto;
    width: 100%;
}
#pokemon-card-container{
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
}

#form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}

#input{
    height: 1.5rem;
    width: 50%;
}

#btn{
    height: auto;
    width: auto;
    padding: 0.2rem;
    background-color: rgb(69, 69, 228);
    border-radius: 15px;
    color: rgb(216, 149, 61);
}